@charset "UTF-8";

/* 共通部分 */

html {
  font-size: 100%;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.7;
  color: #432;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  padding: 0 4%;
}

/* HEADER */
.page-header {
  text-align: center;
  font-size: x-large;
}

/* 背景画像 */
.big-bg {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home {
  background-image: url(images/時計.jpg);
  min-height: 100vh;
}

#home.page-title {
text-transform: none;
}

/* タイトル */
.page-title {
  font-size: 5rem;
  font-family: 'Philosopher', serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* HOME */
.home-content {
  text-align: center;
}

/* root
*  todo
*/

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

textarea, input {
  background: rgba(255,255,255,.5);
}

.label {
  margin-bottom: 10px;
  display: block;
}

.button-area {
  justify-content: center;
  
}

/* tasks */
.list-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.board {
  justify-content: center;
}

/* footer */
footer {
  background: #432;
  text-align: center;
  padding: 5px 0;
}

footer p {
  color: #fff;
  font-size: 0.875rem;
}